@import "antd/dist/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");
@font-face {
  font-family: "CircularStd";
  src: url("https://assets.codepen.io/12596/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@tailwind components;
@tailwind utilities;

.min-h-screen {
  min-height: 100svh;
}

.h-screen {
  height: 100dvh;
}

.max-h-screen {
  height: 100dvh;
}

a,
.ant-typography a,
.link,
.ant-btn-link {
  @apply text-primary-600 hover:text-primary-500 hover:!underline;
}

.ant-btn-link:not(:disabled):hover {
  @apply text-primary-500;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography {
  @apply font-display font-medium;
}

h5.ant-typography {
  @apply font-medium;
}

.ant-btn {
  @apply inline-flex items-center justify-center;
}

.ant-form-vertical .ant-form-item-label {
  @apply pb-1;
}

.ant-form-vertical .ant-form-item-extra {
  @apply pt-1;
}

.ant-form-item-required {
  @apply inline-flex flex-row-reverse gap-x-1;
}

.hide-validation-asterix .ant-form-item-required:before {
  @apply opacity-0;
}

.ant-form-vertical .ant-form-item {
  @apply mb-6;
}

.ant-modal .ant-modal-header {
  @apply mb-6;
}

.ant-modal .ant-modal-title {
  @apply font-medium;
}

.ant-table-column-title {
  @apply font-medium;
}

.ant-table-sticky .ant-table-thead {
  @apply sticky z-10 top-0;
}

.ant-breadcrumb ol {
  @apply flex-nowrap;
}

.ant-tabs .ant-tabs-tab {
  @apply justify-center !ml-6 !mr-2 min-w-[50px];
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .text-neutral-500 {
  @apply !text-primary-500;
}

.custom-tab > .ant-tabs-nav .ant-tabs-tab {
  @apply !ml-0 !mr-9;
}
