@import "antd/dist/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");
@font-face {
  font-family: "CircularStd";
  src: url("https://assets.codepen.io/12596/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@tailwind components;
@tailwind utilities;

.min-h-screen {
  min-height: 100svh !important;
}

.h-screen {
  height: 100dvh !important;
}

.max-h-screen {
  height: 100dvh !important;
}

a,
a.ant-typography,
.ant-typography a,
.link,
.ant-btn-link {
  @apply text-primary-600 hover:text-primary-500 hover:underline cursor-pointer;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography {
  @apply font-display font-medium;
}

h5.ant-typography {
  @apply font-medium;
}

.ant-btn {
  @apply inline-flex items-center justify-center;
}

.ant-btn.ant-btn-input {
  @apply -mx-2.5 px-2.5 h-auto w-[calc(100%+1.25rem)];
}

.ant-form-vertical .ant-form-item-label {
  @apply pb-1 font-medium;
}

.ant-form-vertical .ant-form-item-extra {
  @apply pt-1;
}

.ant-form-item-required {
  @apply inline-flex flex-row-reverse gap-x-1;
}

.hide-validation-asterix .ant-form-item-required:before {
  @apply opacity-0;
}

.ant-form-vertical .ant-form-item {
  @apply mb-6;
}

.ant-modal .ant-modal-header {
  @apply mb-6;
}

.ant-modal .ant-modal-title {
  @apply font-medium;
}

.ant-modal .ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
  @apply !ml-2.5;
}

.ant-table-column-title {
  @apply font-medium;
}

.ant-table-sticky .ant-table-thead {
  @apply sticky z-10 top-0;
}

.ant-table-content {
  @apply overscroll-x-none;
}

/* stops showing table header info while row is selected */
.opacity-100 + .ant-table-wrapper th:not(:first-child) > * {
  @apply opacity-0;
}

.ant-breadcrumb ol {
  @apply flex-nowrap;
}

.ant-tabs .ant-tabs-tab {
  @apply justify-center !ml-6 !mr-2 min-w-[50px];
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .text-subtitle {
  @apply !text-primary-500;
}

.ant-tabs-contact > .ant-tabs-nav .ant-tabs-tab {
  @apply !ml-0 !rounded-none !-mr-px !border-neutral-200;
}

.ant-tabs-contact > .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
  @apply !bg-transparent !border-neutral-300 !border-b-neutral-100 z-10;
}

.ant-tabs-contact > .ant-tabs-nav::before {
  @apply !border-b-neutral-300;
}

.ant-modal-fullscreen .ant-modal {
  @apply !w-full !max-w-none !p-0 !inset-0;
}

.ant-modal-fullscreen .ant-modal .ant-modal-header {
  @apply !mb-0 !rounded-none !h-14 border-solid border-0 !border-b !border-b-neutral-200 !py-3 !px-4;
}

.ant-modal-fullscreen .ant-modal .ant-modal-content {
  @apply !rounded-none !shadow-none !p-0;
}

.ant-select-float * {
  @apply cursor-pointer;
}

.ant-select-float .ant-select-selection-item {
  @apply border-0 bg-transparent mr-0 pr-0;
}

.ant-select-float .ant-select-selection-overflow-item:not(:nth-last-child(-n + 2)) .ant-select-selection-item-content:after {
  @apply content-[","];
}

.ant-select-float .ant-select-selection-overflow-item:not(:first-child) {
  @apply -ml-1;
}

.ant-select-float .ant-select-selection-item-remove,
.ant-select-float .ant-select-selection-overflow-item-suffix {
  @apply hidden;
}

.ant-select-float .ant-select-selection-item-content {
  @apply m-0 relative top-px;
}

.ant-select-float .ant-select-selector {
  @apply pe-7 !important;
}

.ant-table-bg-reset .ant-table-column-sort,
.ant-table-bg-reset .ant-table-thead .ant-table-cell {
  @apply bg-neutral-50 !important;
}

.ant-table-bg-reset td.ant-table-column-sort,
.ant-table-bg-reset td.ant-table-cell {
  @apply bg-white !important;
}

.ant-table-bg-reset tr.ant-table-expanded-row > td {
  @apply bg-neutral-50 pb-8 !important;
}

.scrollbar-thin-x::-webkit-scrollbar {
  @apply h-[5px] cursor-pointer;
}

.scrollbar-thin-x::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.scrollbar-thin-x::-webkit-scrollbar-thumb {
  @apply h-[5px] bg-neutral-300;
}

.scrollbar-thin-x::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400;
}

.ant-notification .ant-notification-notice {
  @apply py-4 px-5;
}

.ant-notification .ant-notification-notice .ant-notification-notice-message {
  @apply font-body font-medium mb-1;
}

.ant-notification .ant-notification-notice .ant-notification-notice-close {
  @apply end-4 top-4 mt-px;
}

.ant-radio-group-progress .ant-radio-button-wrapper {
  width: 28px;
  height: 28px;
  line-height: 26px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 100px;
  margin-right: 10px;
  border-width: 1px;
}

.ant-radio-group-progress .ant-radio-button-wrapper:before {
  display: none;
}

.ant-table-modal-scroll-y .ant-table-body {
  max-height: calc(100dvh - 14rem) !important;
  overflow-y: auto !important;
}

.ql-toolbar {
  @apply bg-neutral-50 rounded-t !border-neutral-200;
}

.ql-toolbar + .ql-container {
  @apply !border-neutral-200 font-body text-sm;
}

.ql-editor {
  @apply min-h-[100px];
}
